::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scale {
  transition: scale 0.2s;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 1;
}

.slide1 {
  transform: translateX(0);
  transition: 1s;
  @starting-style {
    transform: translateX(-50vw);
  }
}

.slide2 {
  transform: translateX(0);
  transition: 1s;
  transition-delay: 0.5s;
  @starting-style {
    transform: translateX(-50vw);
  }
}

.slide3 {
  transform: translateX(0);
  transition: 1s;
  transition-delay: 1.25s;
  @starting-style {
    transform: translateX(-50vw);
  }
}

.slide4 {
  transform: translateX(0);
  transition: 1s;
  transition-delay: 1.75s;
  @starting-style {
    transform: translateX(-52vw);
  }
}

.slide5 {
  transform: translateX(0vw);
  transition: 1s;
  transition-delay: 2.5s;
  @starting-style {
    transform: translateX(50vw);
  }
}

.slideDown {
  transform: translateY(0vh);
  transition: transform 1s, scale 0.2s;
  @starting-style {
    transform: translateY(-100vh);
  }
}

.slideUp {
  transform: translateY(0vh);
  transition: transform 1s, scale 0.2s;
  @starting-style {
    transform: translateY(100vh);
  }
}

.slideLeft {
  transform: translateX(0vw);
  transition: transform 1s, scale 0.2s;
  @starting-style {
    transform: translateX(100vw);
  }
}

.slideRight {
  transform: translateX(0vw);
  transition: transform 1s, scale 0.2s;
  @starting-style {
    transform: translateX(-100vw);
  }
}

.hoover {
  height: 80vh;
  width: auto;
  border-radius: 7.5vw;
}

.bg-333 {
  background-color: #333;
}

.bg-666 {
  background-color: #666;
}

.bg-transparentish {
  background-color: rgba(0, 0, 0, 0.5);
}

.size {
  height: 75vh;
  width: 98vw;
}

.credits {
  transform: translateY(-75vh);
  transition-timing-function: linear;
  transition: 25s;
  @starting-style {
    transform: translateY(100vh);
  }
}